@CHARSET "ISO-8859-1";

.error_message {
	font-family: font-family : "Segoe UI", Arial, sans-serif;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	width: 100%;
	height: 40px;
	color: #FFFFFF;
	border-style: solid;
	text-align: center;
	padding-top: 20px;
}

.logo-small {
	color: #f4511e;
	font-size: 50px;
}