@CHARSET "ISO-8859-1";
body{
	margin: 0px;;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
label {
	font-size: 14px;
	color: #000080;
	letter-spacing: 1px;
	font-weight: normal;
}
.navbar{
	border-radius: 0px !important;
}
.error-span{
	font-size: 12px;
	color: red;
	display: block;
	text-align: center;
}

#services{
	min-height: 500px;
}
#user-services{
	min-height: 250px;
}

.operation-thumbs{
	min-height: 150px;
}
.selected{
	background-color: #ddd !important;
}
.user-activity{
	width: 100%;
}
.recent-products-thumbs-wrapper{
	padding: 7px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}
.recent-products-thumbs{
	min-height: 100px;
}
.cart-product-wrapper{
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 15px;
}
.cart-product{
	min-height: 100px;
}
.product-label{
	padding: 0;
	margin: 0;
}
.product-data{
	font-size: 12px;
	padding: 0;
	margin: 0;
	font-weight: lighter;
	line-height: normal;	
}
.logo-small {
	color: #045FB4;
	font-size: 50px;
}
.filter-info{
	margin-bottom: 10px;
}